<main>
    <section>
        <div class="d-flex align-items-center min-vh-100">
            <div class="container not-found">
                <div class="row text-center justify-content-center">
                    <div class="col-9 col-sm-8 col-md-6 col-lg-4">
                        <app-atom></app-atom>
                    </div>
                    <div class="col-12 not-found-title">
                        <span class="not-found-title-404">404</span>&nbsp;<span
                            class="not-found-title-error">{{'NOTFOUND.ERROR' | translate}}</span>
                    </div>
                    <div class="col-12 mt-3 not-found-message">
                        {{'NOTFOUND.MESSAGE' | translate}}
                    </div>
                    <div class="col-12 mt-5">
                        <app-button text="NOTFOUND.BUTTON" href="/"></app-button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>