@use "abstracts" as a;

.not-found {
  &-title {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-family: var(--not-found-title-font-family);

    &-404 {
      display: inline-block;
      color: var(--not-found-404-color);
    }
    &-error {
      display: inline-block;
      color: var(--not-found-error-color);
    }
  }

  &-message {
    font-size: 1.2rem;
  }
}
