<main>
    <section>
        <div class="container not-found">
            <div class="row text-center justify-content-center">
                <div class="col-9 col-sm-8 col-md-6 col-lg-4">
                    <app-atom></app-atom>
                </div>
                <div class="col-12 not-found-title">
                    <span class="not-found-title-404">404</span>&nbsp;<span
                        class="not-found-title-error">{{'NOTFOUND.ERROR' | translate}}</span>
                </div>
                <div class="col-12 mt-3 not-found-message">
                    {{'NOTFOUND.MESSAGE' | translate}}
                </div>
                <div class="col-12 mt-5">
                    <a class="not-found-btn pt-3 pb-3 ps-4 pe-4" href="/">
                        {{'NOTFOUND.BUTTON' | translate}}
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="pb-4 pt-5 secondary-bg-color mt-5">
    <app-footer></app-footer>
</footer>
<div class="fixed-footer">
    <app-social-media></app-social-media>
</div>