<section class="intro">
    <div class="container intro-wrapper d-md-flex align-items-md-center justify-content-md-center">
        <div class="row mt-2 gy-3">
            <div class="col-12">
                <div class="row d-flex flex-column-reverse flex-lg-row align-items-center justify-content-center">
                    <div class="col-12 col-md-auto">
                        <h1 class="main-title">
                            <span class="main-first-name">{{firstName}}</span> <span
                                class="main-last-name">{{lastName}}</span>
                        </h1>
                        <p class="main-role">{{'INTRO.ROLE' | translate}}</p>
                        <p class="main-based-address mt-2">{{'INTRO.ADDRESS' | translate}}
                            <span class="ms-2 main-pin-fill lh-base">
                                <ng-icon name="bootstrapPinFill"></ng-icon>
                            </span>
                        </p>
                    </div>
                    <div class="col-8 col-md-5 col-lg-4">
                        <app-svg-avatar></app-svg-avatar>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-auto">
                        <p class="stack-title">{{'INTRO.TECH_STACK' | translate}}</p>
                    </div>
                    <div class="col-12">
                        <div class="row justify-content-center">
                            <div class="col-auto stack" *ngFor="let stack of techStack">
                                <ng-container *ngFor="let tech of stack.stack">
                                    <ng-icon class="ms-2 {{tech.class}}" name="{{tech.icon}}"></ng-icon>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>