@use "abstracts" as a;

/**
 * Helper class to align the elements in screen and create transitions + transforms on hover
 */
.intro {
  padding-bottom: 8rem;

  @include a.respond-to("large") {
    padding-bottom: 0;
  }

  &-wrapper {
    height: auto;
    text-align: center;
    margin-top: 6rem;

    @include a.respond-to("large") {
      margin-top: auto;
      height: 100vh;
    }

    .main {
      &-title {
        font-weight: bold;
        font-family: "FontSignature";
        font-size: clamp(3rem, 6vw, 4rem);
        margin-top: 1.5rem;

        @include a.respond-to("large") {
          margin-top: auto;
        }
      }

      &-first-name {
        color: var(--intro-first-name-color);
      }

      &-last-name {
        color: var(--intro-last-name-color);
      }

      &-role {
        color: var(--intro-role-color);
        font-family: var(--intro-role-font-family);
        font-size: clamp(1.5rem, 3.5vw, 2rem);
      }

      &-based-address {
        color: var(--intro-based-address-color);
        font-size: clamp(1rem, 3vw, 1.3rem);
        font-family: var(--intro-based-address-font-family);
      }

      &-pin-fill {
        position: absolute;

        ng-icon {
          color: var(--intro-pin-fill-icon-color);
          font-size: 0.5rem;
        }
      }
    }

    .stack-title {
      color: var(--intro-stack-title-color);
      font-family: var(--intro-stack-title-font-family);
      font-size: clamp(1rem, 2vw, a.$font-size-subtitle);
      border-bottom: 2px solid #5a7ffb;
    }

    .stack {
      @include a.transition-ease-in-out();

      &:hover {
        @include a.transform-translateY();
      }

      ng-icon {
        &.dotnet {
          color: var(--intro-icons-dotnet-color);
        }

        &.csharp {
          color: var(--intro-icons-csharp-color);
        }

        &.go {
          color: var(--intro-icons-go-color);
        }

        &.react {
          color: var(--intro-icons-react-color);
        }

        &.angular {
          color: var(--intro-icons-angular-color);
        }

        &.javascript {
          color: var(--intro-icons-javascript-color);
        }

        &.typescript {
          color: var(--intro-icons-typescript-color);
        }

        &.sass {
          color: var(--intro-icons-sass-color);
        }

        &.css3 {
          color: var(--intro-icons-css3-color);
        }
      }
    }
  }
}
