<section>
    <div class="container intro d-flex align-items-center justify-content-center">
        <div class="row intro-wrapper">
            <div class="col-12">
                <div class="main">
                    <h1 class="main-title">Ricardo <span class="main-last-name">Balreira</span></h1>
                    <p class="main-role">A Full-Stack Developer</p>
                    <app-svg-avatar></app-svg-avatar>
                    <p class="mt-2">Based in Aveiro, Portugal
                        <span class="ms-2 main-pin-fill lh-base">
                            <ng-icon name="bootstrapPinFill"></ng-icon>
                        </span>
                    </p>
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-auto">
                        <p class="stack-title">Tech Stack</p>
                    </div>
                    <div class="col-12 col-sm-auto">
                        <ul class="stack">
                            <li *ngFor="let stack of techStack">
                                <ng-container *ngFor="let tech of stack.stack">
                                    <ng-icon class="ms-2" name="{{tech.icon}}"></ng-icon>
                                </ng-container>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>