@use "abstracts" as a;

/**
 * Helper class to align the elements disposition and create transitions + transforms on hover
 */
.intro {
  height: auto;
  text-align: center;

  .main {
    &-title {
      font-weight: bold;
      font-family: "FontSignature";
      animation: anim-lineUp linear 3s backwards;
    }

    &-last-name {
      color: #5a7ffb;
    }

    &-role {
      animation: anim-lineUp linear 3s 1s backwards;
    }

    &-pin-fill {
      position: absolute;

      ng-icon {
        font-size: 0.4rem;
      }
    }
  }

  .stack {
    padding: 0;
    flex-direction: row;
    gap: 20px;

    @include a.justify-content-center();

    li {
      display: inline-block;
      @include a.transition-ease-in-out();

      &:hover {
        @include a.transform-translateY();
      }
    }
  }

  .stack-title {
    border-bottom: 2px solid #5a7ffb;

    @include a.respond-to("small-medium") {
      border-bottom: none;
      border-right: 2px solid #5a7ffb;
      padding-right: 2rem;
    }
  }

  &-wrapper {
    margin-top: 7rem;

    @include a.respond-to("small-medium") {
      margin-top: 3rem;
    }
  }

  @include a.respond-to("small-medium") {
    height: 100vh;
  }
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
