@font-face {
  font-family: "FontSignature";
  src: url("../../../assets/fonts/HighSummit.ttf");
}

.intro {
  height: 100vh;
  text-align: center;

  div {
    display: block;
  }

  h1 {
    font-weight: bold;
    font-family: "FontSignature";
    animation: 2s anim-lineUp ease-out;
  }
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
