// Breakpoints to use for Responsive Web Design
$breakpoints: (
  "extra-small": (
    min-width: 400px,
  ),
  "small": (
    min-width: 600px,
  ),
  "2-small-medium": (
    min-width: 768px,
  ),
  "small-medium": (
    min-width: 769px,
  ),
  "medium": (
    min-width: 800px,
  ),
  "large": (
    min-width: 1000px,
  ),
  "extra-large": (
    min-width: 1200px,
  ),
);

// Font sizes
$font-size-regular-text: 1rem;
$font-size-subtitle: 1.3rem;
$font-size-about-me-text: 1rem;
