// Breakpoints to use for Responsive Web Design
$breakpoints: (
  "2-extra-small": (
    min-width: 300px,
  ),
  "extra-small": (
    min-width: 400px,
  ),
  "small": (
    min-width: 600px,
  ),
  "small-medium": (
    min-width: 769px,
  ),
  "medium": (
    min-width: 800px,
  ),
  "large": (
    min-width: 1000px,
  ),
  "large-extra-large": (
    min-width: 1100px,
  ),
  "extra-large": (
    min-width: 1200px,
  ),
  "2-extra-large": (
    min-width: 1400px,
  ),
);

// Font sizes
$font-size-regular-text: 1rem;
