<div appAnimateFromToAnimation [fromY]="100" [toOpacity]="1" [hasScrollTrigger]="true" [stStart]="'top bottom'"
    class="container about-me">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-6">
            <div class="row">
                <div class="col-12">
                    <p>{{'ABOUT.DESCRIPTION' | translate}}</p>
                </div>
                <div class="col-6 mt-4">
                    <h4>{{'ABOUT.ROLE.TITLE' | translate}}</h4>
                    <p>{{'ABOUT.ROLE.DESCRIPTION' | translate}}</p>
                </div>
                <div class="col-6 mt-4">
                    <h4>{{'ABOUT.EMPLOYMENT.TITLE' | translate}}</h4>
                    <p>{{'ABOUT.EMPLOYMENT.DESCRIPTION' | translate}}</p>
                </div>
            </div>
        </div>
        <div class="col-9 col-md-4">
            <img src="/assets/imgs/about-me.jpg" class="img-fluid rounded" alt="{{'NAVBAR.2.SECTION' | translate}}" />
        </div>
    </div>
</div>