@use "abstracts" as a;

/**
 * Helper class to set filter in image and sizing text
 * 1. Set filter in image doing a transition to original effect on hover
 * 2. Moving image diagonally using the transform property and translate element
 */
.about-me {
  @include a.adjust-grid-container();

  p {
    font-size: a.$font-size-about-me-text;
  }

  h4 {
    color: var(--about-me-subtitles-color);
    font-family: var(--about-me-subtitles-font-family);
    font-size: a.$font-size-about-me-text;
    text-transform: uppercase;
  }

  img {
    width: 100%;
    height: auto;
    filter: sepia(100%);
    transition: 0.5s ease-in-out;
  }

  img:hover {
    filter: sepia(0);
    transform: translate(-15px, -15px);
  }
}
