/**
 * Styles to set cosmetic content before and after heading text (half square)
 * 1. Set empty string content with a border color just for the bottom side
 * 2. Set half right square before content 
 * 3. Set half left square before content
 */
section {
  padding-top: 5rem;
  padding-bottom: 5rem;

  &.secondary-bg-color {
    background-color: var(--bg-secondary-color);
  }

  .section-title {
    color: var(--section-title-color);
    font-family: "Poppins-SemiBold";
    text-transform: uppercase;
    text-align: center;

    &::before,
    &::after {
      content: "";
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-bottom-color: var(--section-cosmetic-content-title-color);
      display: inline-block;
    }

    &::before {
      margin-right: 1rem;
      border-right-color: var(--section-cosmetic-content-title-color);
    }

    &::after {
      margin-left: 1rem;
      border-left-color: var(--section-cosmetic-content-title-color);
    }
  }
}
