@font-face {
  font-family: "FontSignature";
  src: url("../../fonts/HighSummit.ttf");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../../fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "InknutAntiqua-Bold";
  src: url("../../fonts/Inknut_Antiqua/InknutAntiqua-Bold.ttf");
}
