@use "abstracts" as a;

/**
 * Helper class to adjust colors and dimensions.
 */
.dropdown-flags {
  &-toggle:first-child:active {
    border-color: transparent;
  }

  /**
  * Min-width override of dropdown menu to fit the content.
  */
  &-menu {
    min-width: 1rem;
    margin: 0;
  }

  &-toggle::after {
    border-top-color: var(--text-color);
    @include a.transition-ease-in-out(0.2s);
  }

  &-toggle:hover::after {
    border-top-color: green;
  }
}
