@use "abstracts" as a;

/**
 * Helper class to make the dropdown flags hoverable and with transition.
 */
.dropdown-flags {
  &-toggle:first-child:active {
    border-color: transparent;
  }

  /**
  * Min-width override of dropdown menu to fit the content.
  */
  &-menu {
    min-width: 1rem;
    margin: 0;
  }
}
