<nav class="navbar navbar-expand justify-content-between fixed-top ps-3 pe-3">
    <a class="navbar-brand p-0" href="/">
        Balreira.dev
    </a>
    <ul class="navbar-nav align-items-center">
        <li class="nav-item list-items p-1" *ngFor="let c of content; last as isLast" [class.me-3]="!isLast">
            <a href="#{{c.name.toLowerCase()}}">{{c.name}}</a>
        </li>
        <li class="nav-item dropdown-flags p-1">
            <app-dropdown-flags></app-dropdown-flags>
        </li>
        <li class="nav-item day-night-mode-toggle p-1">
            <day-night-mode-toggle></day-night-mode-toggle>
        </li>
        <li class="nav-item hamburger-item ms-3 p-2">
            <button class="hamburger hamburger--arrowturn p-0" type="button"
                [ngClass]="getHamburgerCurrentMode() ? 'is-active' : ''" (click)="toggleHamburger()">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </li>
    </ul>
</nav>
<app-nav-menu></app-nav-menu>