<header>
    <nav class="navbar navbar-expand-sm justify-content-between fixed-top">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="navbar-brand" href="#">
                        <app-svg-logo></app-svg-logo>
                    </a>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto align-items-center">
                <li class="nav-item">
                    <day-night-mode-toggle></day-night-mode-toggle>
                </li>
                <li class="nav-item">
                    <ng-select [(ngModel)]="selectedFlag" [clearable]="false">
                        <ng-option *ngFor="let flag of flags" [value]="flag.id"><span
                                class="flag-icon flag-icon-{{flag.name}}"></span>
                        </ng-option>
                    </ng-select>
                </li>
                <li class="nav-item">
                    <button class="hamburger hamburger--arrowturn" type="button" appHamburgerToggle>
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </li>
            </ul>
        </div>
    </nav>
</header>