@use "abstracts" as a;

/**
 * Helper class to set Navbar and list items
 * 1. Alternate display property for both day-night toggle and dropdown-langs elements based on breakpoints
 */
.navbar {
  background-color: var(--navbar-bg-color);
  box-shadow: var(--navbar-box-shadow);

  &-brand {
    color: var(--navbar-brand-color);
    font-family: var(--navbar-brand-font-family);
    font-size: larger;
    display: inline-block;
    position: relative;
    @include a.transition-ease-in-out();

    &:hover {
      color: var(--text-hover-color);
      @include a.transform-translateY(-3px);
    }
  }

  & .list-items {
    display: none;

    @include a.respond-to("small-medium") {
      display: list-item;
    }

    a {
      color: var(--navbar-items-color);
      font-family: var(--navbar-items-font-family);

      @include a.transition-ease-in-out();

      &:hover {
        color: var(--text-hover-color);
      }
    }
  }

  & .day-night-mode-toggle,
  & .dropdown-langs {
    display: none;

    @include a.respond-to("extra-small") {
      display: list-item;
    }
  }

  .hamburger-item {
    display: block;

    @include a.respond-to("small-medium") {
      display: none;
    }
  }
}

/**
 * Helper class to set background-colors and transitions for hamburger icon
 */
.hamburger {
  &-inner,
  &-inner::before,
  &-inner::after {
    background-color: var(--navbar-menu-hamburger-color) !important;
    transition: transform 0.15s ease, background-color 0.4s;
  }

  &:hover &-inner::before,
  &:hover &-inner::after,
  &:hover &-inner {
    background-color: var(--text-hover-color) !important;
  }
}
