@use "abstracts" as a;

/**
 * Helper class to set Navbar and list items
 * 1. Alternate display property for both day-night toggle and dropdown-flags elements based on breakpoints
 */
.navbar {
  background-color: var(--navbar-bg-color);

  &-brand {
    color: var(--text-color);
    font-family: "InknutAntiqua-Bold";
    font-size: larger;
    display: inline-block;
    position: relative;
    @include a.transition-ease-in-out();

    &:hover {
      color: #64ffda;
      @include a.transform-translateY(-3px);
    }
  }

  & .list-items {
    display: none;

    @include a.respond-to("small-medium") {
      display: list-item;
    }

    a {
      font-family: "Poppins-Regular";
      @include a.transition-ease-in-out();

      &:hover,
      &:focus {
        color: #64ffda;
      }
    }
  }

  & .day-night-mode-toggle,
  & .dropdown-flags {
    display: none;

    @include a.respond-to("extra-small") {
      display: list-item;
    }
  }

  .hamburger-item {
    display: block;

    @include a.respond-to("small-medium") {
      display: none;
    }
  }
}

/**
 * Helper class to set background-colors and transitions for hamburger icon
 */
.hamburger {
  &-inner,
  &-inner::before,
  &-inner::after {
    background-color: var(--hamburger-color) !important;

    @include a.respond-to("small") {
      transition: transform 0.15s ease, background-color 0.4s;
    }
  }

  @include a.respond-to("small") {
    &:hover &-inner::before,
    &:hover &-inner::after,
    &:hover &-inner {
      background-color: var(--hamburger-hover-color) !important;
    }
  }
}
