.navbar {
  background-color: transparent;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: var(--hamburger-color) !important;
}

.hamburger:hover {
  opacity: 1;
}
