@use "abstracts" as a;

/** 
 * Helper class to position the footer components as fixed at the bottom of the page
*/
.fixed-footer {
  position: fixed;
  bottom: 0;
  right: 0;

  & .toggle {
    display: block;
  }

  @include a.respond-to("extra-small") {
    .toggle {
      display: none;
    }
  }
}

.secondary-bg-color {
  background-color: var(--bg-secondary-color);
}
