@use "abstracts" as a;

/** 
 * Utility class to position the footer components as fixed at the bottom of the page
*/
.footer {
  position: fixed;
  bottom: 0;
  right: 0;

  & .toggle {
    display: block;
  }

  @include a.respond-to("extra-small") {
    .toggle {
      display: none;
    }
  }
}
