<header>
    <app-header></app-header>
</header>
<main>
    <app-intro></app-intro>
    <app-section sectionTitle="Experience" id="experience" [hasSecondaryBgColor]="true">
        <app-experience class="d-flex justify-content-center"></app-experience>
    </app-section>
    <app-section sectionTitle="Projects" id="projects">
        <app-projects></app-projects>
    </app-section>
    <app-section sectionTitle="About Me" id="about" [hasSecondaryBgColor]="true">
        <app-about-me></app-about-me>
    </app-section>
    <app-section sectionTitle="What's next?" id="contact">
        <app-contact></app-contact>
    </app-section>
</main>
<footer class="pb-4 pt-5 secondary-bg-color">
    <app-footer></app-footer>
</footer>
<div class="fixed-footer">
    <app-social-media [footer]="false"></app-social-media>
</div>
<router-outlet></router-outlet>