.avatar {
  width: 100%;
  max-width: 280px;
  height: auto;
  border-radius: 50%;
  filter: sepia(70%);
  transition: 0.5s ease-in-out;

  &:hover {
    filter: sepia(0);
    transform: translateY(-10px);
  }
}
