@use "abstracts" as a;

/**
 * Helper class to adjust colors and dimensions.
 */
.dropdown-langs {
  /**
  * Min-width override of dropdown menu to fit the content.
  */
  &-menu {
    min-width: 1rem;
    margin: 0;
    animation-duration: 0.5s;
    animation-name: slideIn;

    box-shadow: var(--navbar-dropdown-langs-menu-box-shadow);
    background-color: var(--navbar-dropdown-langs-menu-bg-color);

    .dropdown-item {
      @include a.transition-ease-in-out();

      &:hover {
        background-color: var(--navbar-dropdown-langs-menu-item-hover-bg-color);
      }

      &:focus {
        background-color: var(--navbar-dropdown-langs-menu-item-focus-bg-color);
      }
    }
  }

  &-toggle:first-child:active {
    border-color: transparent;
  }

  &-toggle::after {
    border-top-color: var(--navbar-dropdown-langs-toggle-color);
    @include a.transition-ease-in-out(0.2s);
  }

  &-toggle:hover::after {
    border-top-color: var(--text-hover-color);
  }

  .dropdown-lang {
    color: var(--navbar-dropdown-langs-text-color);
    text-transform: uppercase;
    font-family: var(--navbar-dropdown-langs-text-font-family);
  }
}

/**
 * keyframe to create an animation when dropdown menu is opened
*/
@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}
