<div ngbDropdown class="d-inline-block dropdown-langs">
    <button type="button" class="dropdown-langs-toggle btn" ngbDropdownToggle>
        <span class="dropdown-lang">{{selectedLang}}</span>
    </button>
    <div ngbDropdownMenu #dropdownLangsMenu class="dropdown-langs-menu">
        <button [routerLink]="['/', lang]" ngbDropdownItem *ngFor="let lang of translateService.getLangs()"
            (click)="setLanguage(lang)">
            <span class="dropdown-lang">{{lang}}</span>
        </button>
    </div>
</div>