/**
 * Helper class to filter avatar image effects
 * 1. Add a border-radius to make a circle around the image 
 * 2. Set a sepia filter to impart a mellow tone to the image
 * 3. On hovering the image, sepia filter is set to 0 with a transform on Y axis
 */
.avatar {
  width: 100%;
  height: auto;
  border-radius: 50%;
  object-position: center;
  filter: sepia(70%);
  transition: 0.5s ease-in-out;

  &:hover {
    filter: sepia(0);
    transform: translateY(-10px);
  }
}
