@use "functions" as f;

/* background theme */
$bg-color_dark: f.dark-color(blue, darker);
$bg-secondary-color_dark: $bg-color_dark;
/* end background theme */

/* text theme */
$text-font-family_dark: "OpenSans-Regular";
$text-color_dark: f.dark-color(blue, 3lighter);
$text-hover-color_dark: f.dark-color(red, light);
/* end text theme */

/* section theme */
$section-title-color_dark: f.dark-color(blue, lightest);
$section-title-font-family_dark: "Poppins-SemiBold";
$section-cosmetic-content-title-color_dark: f.dark-color(blue, lighter);
/* end section theme */

/* technology stack theme */
$tech-stack-font-family_dark: "OpenSans-SemiBold";
$tech-stack-color_dark: f.dark-color(white, base);
/* end technology stack theme */

/* social media theme */
$social-media-color_dark: $tech-stack-color_dark;
$social-media-line-color_dark: $section-cosmetic-content-title-color_dark;
/* end social media theme */

/* header theme */
// background
$navbar-bg-color_dark: f.dark-color(blue, 3darker);
$navbar-box-shadow_dark: none;
// brand
$navbar-brand-font-family_dark: "InknutAntiqua-Bold";
$navbar-brand-color_dark: $tech-stack-color_dark;
// items
$navbar-items-color_dark: $text-color_dark;
$navbar-items-font-family_dark: "Poppins-Regular";
$navbar-dropdown-langs-text-color_dark: $navbar-brand-color_dark;
$navbar-dropdown-langs-text-font-family_dark: "Poppins-Medium";
$navbar-dropdown-langs-toggle-color_dark: $navbar-items-color_dark;
$navbar-dropdown-langs-menu-box-shadow_dark: 0px 0px 10px 2px
  f.dark-color(gray, darkest);
$navbar-dropdown-langs-menu-item-hover-bg-color_dark: f.dark-color(
  purple,
  base
);
$navbar-dropdown-langs-menu-item-focus-bg-color_dark: $navbar-dropdown-langs-menu-item-hover-bg-color_dark;
$navbar-dropdown-langs-menu-bg-color_dark: f.dark-color(blue, 2darker);
$navbar-theme-mode-bg-color_dark: f.dark-color(gray, darker);
$navbar-theme-mode-label-box-shadow_dark: 0px 0px 10px 2px
  f.dark-color(gray, base);
$navbar-theme-mode-label-border_dark: none;
$navbar-theme-mode-color_dark: f.dark-color(blue, darkest);
$navbar-theme-mode-hover-bg-color_dark: $bg-color_dark;
// hamburger
$navbar-menu-hamburger-color_dark: $tech-stack-color_dark;
// menu
$navbar-menu-text-color_dark: $text-color_dark;
$navbar-menu-text-hover-color_dark: $tech-stack-color_dark;
$navbar-menu-bg-color_dark: $bg-color_dark;
$navbar-menu-items-hover-bg-color_dark: $navbar-dropdown-langs-menu-item-hover-bg-color_dark;
/* end header theme */

/* intro theme */
// content
$intro-first-name-color_dark: $navbar-brand-color_dark;
$intro-last-name-color_dark: $text-hover-color_dark;
$intro-role-color_dark: $navbar-items-color_dark;
$intro-role-font-family_dark: "Poppins-Regular";
$intro-based-address-color_dark: $tech-stack-color_dark;
$intro-based-address-font-family_dark: "Poppins-Light";
$intro-pin-fill-icon-color_dark: f.dark-color(red, base);
$intro-stack-title-font-family_dark: "Poppins-Regular";
$intro-stack-title-color_dark: $tech-stack-color_dark;
$intro-stack-border-bottom-color_dark: $section-cosmetic-content-title-color_dark;
// icons
$intro-icons-dotnet-color_dark: $tech-stack-color_dark;
$intro-icons-csharp-color_dark: f.dark-color(purple, dark);
$intro-icons-go-color_dark: f.dark-color(blue, 2lighter);
$intro-icons-react-color_dark: f.dark-color(blue, 4lighter);
$intro-icons-angular-color_dark: $intro-pin-fill-icon-color_dark;
$intro-icons-javascript-color_dark: f.dark-color(yellow, base);
$intro-icons-typescript-color_dark: f.dark-color(blue, light);
$intro-icons-sass-color_dark: f.dark-color(purple, light);
$intro-icons-css3-color_dark: f.dark-color(blue, base);
/* end intro theme */

/* experience theme */
$experience-nav-btn-color_dark: $navbar-brand-color_dark;
$experience-nav-btn-font-family_dark: "OpenSans-Medium";
$experience-nav-btn-border-color_dark: $navbar-brand-color_dark;
$experience-nav-btn-active-border-color_dark: $text-hover-color_dark;
$experience-nav-btn-active-color_dark: $text-hover-color_dark;
$experience-nav-btn-hover-color_dark: $text-hover-color_dark;
$experience-nav-btn-hover-bg-color_dark: $navbar-bg-color_dark;
$experience-nav-title-color_dark: $navbar-brand-color_dark;
$experience-nav-title-font-family_dark: "OpenSans-SemiBold";
$experience-nav-name-color_dark: $text-hover-color_dark;
$experience-nav-name-hover-color_dark: $navbar-menu-items-hover-bg-color_dark;
$experience-nav-duration-font-family_dark: "OpenSans-SemiBold";
$experience-nav-duration-color_dark: $section-cosmetic-content-title-color_dark;
$experience-nav-list-marker-color_dark: $section-cosmetic-content-title-color_dark;
/* end experience theme */

/* projects theme */
$projects-card-bg-color_dark: f.dark-color(blue, dark);
$projects-card-box-shadow_dark: 0px 0px 10px 2px f.dark-color(gray, base);
$projects-card-icons-folder-color_dark: $section-cosmetic-content-title-color_dark;
$projects-card-icons-github-color_dark: $tech-stack-color_dark;
$projects-card-icons-link-color_dark: $tech-stack-color_dark;
$projects-card-icons-hover-color_dark: $text-hover-color_dark;
$projects-card-title-color_dark: $tech-stack-color_dark;
$projects-card-title-hover-color_dark: $text-hover-color_dark;
$projects-card-title-font-family_dark: "OpenSans-SemiBold";
/* end projects theme */

/* about theme */
$about-me-subtitles-color_dark: $tech-stack-color_dark;
$about-me-subtitles-font-family_dark: "OpenSans-Bold";
/* end about theme */

/* contact theme */
$contact-title-color_dark: $tech-stack-color_dark;
$contact-title-font-family_dark: "OpenSans-Medium";
/* end contact theme */

/* footer theme */
$footer-text-link-color_dark: $tech-stack-color_dark;
$footer-text-link-hover-color_dark: $text-hover-color_dark;
$footer-text-link-hover-font-family_dark: "OpenSans-SemiBold";
/* end footer theme */

/* button theme */
$button-box-shadow_dark: 0px 0px 10px 2px
  $section-cosmetic-content-title-color_dark;
$button-border-color_dark: $section-cosmetic-content-title-color_dark;
$button-text-color_dark: $section-cosmetic-content-title-color_dark;
$button-text-hover-color_dark: $tech-stack-color_dark;
$button-text-font-family_dark: "OpenSans-SemiBold";
$button-bg-color_dark: $projects-card-bg-color_dark;
$button-bg-hover-color_dark: $projects-card-bg-color_dark;
/* end button theme */

/* scroll bar */
$scrollbar-face-color_dark: f.dark-color(gray, dark);
$scrollbar-base-color_dark: $scrollbar-face-color_dark;
$scrollbar-3dlight-color_dark: $scrollbar-face-color_dark;
$scrollbar-highlight-color_dark: $scrollbar-face-color_dark;
$scrollbar-track-color_dark: f.dark-color(gray, 2darker);
$scrollbar-arrow-color_dark: $scrollbar-track-color_dark;
$scrollbar-shadow-color_dark: $scrollbar-face-color_dark;
$scrollbar-width_dark: 8px;
$scrollbar-height_dark: 3px;
$scrollbar-thumb-height_dark: 50px;
$scrollbar-thumb-bg-color_dark: $scrollbar-face-color_dark;
$scrollbar-thumb-border-radius_dark: 3px;
/* end scroll bar */

/* not found theme */
$not-found-404-color_dark: $text-hover-color_dark;
$not-found-error-color_dark: $navbar-brand-color_dark;
$not-found-title-font-family_dark: "Poppins-SemiBold";
/* end not found theme */

// mixin that enables css variables in dark mode
@mixin dark-mode() {
  /* background theme */
  background-color: #{$bg-color_dark};
  --bg-secondary-color: #{$bg-secondary-color_dark};
  /* end background theme */

  color: #{$text-color_dark};

  /* text theme */
  --text-font-family: #{$text-font_family_dark};
  --text-color: #{$text-color_dark};
  --text-hover-color: #{$text-hover-color_dark};
  /* end text theme */

  /* section theme */
  --section-title-color: #{$section-title-color_dark};
  --section-title-font-family: #{$section-title-font-family_dark};
  --section-cosmetic-content-title-color: #{$section-cosmetic-content-title-color_dark};
  /* end section theme */

  /* technology stack theme */
  --tech-stack-font-family: #{$tech-stack-font-family_dark};
  --tech-stack-color: #{$tech-stack-color_dark};
  /* end technology stack theme */

  /* social media theme */
  --social-media-color: #{$social-media-color_dark};
  --social-media-line-color: #{$social-media-line-color_dark};
  /* end social media theme */

  /* header theme */
  // background
  --navbar-bg-color: #{$navbar-bg-color_dark};
  --navbar-box-shadow: #{$navbar-box-shadow_dark};
  // brand
  --navbar-brand-font-family: #{$navbar-brand-font-family_dark};
  --navbar-brand-color: #{$navbar-brand-color_dark};
  // items
  --navbar-items-color: #{$navbar-items-color_dark};
  --navbar-items-font-family: #{$navbar-items-font-family_dark};
  --navbar-dropdown-langs-text-color: #{$navbar-dropdown-langs-text-color_dark};
  --navbar-dropdown-langs-text-font-family: #{$navbar-dropdown-langs-text-font-family_dark};
  --navbar-dropdown-langs-toggle-color: #{$navbar-dropdown-langs-toggle-color_dark};
  --navbar-dropdown-langs-menu-box-shadow: #{$navbar-dropdown-langs-menu-box-shadow_dark};
  --navbar-dropdown-langs-menu-item-hover-bg-color: #{$navbar-dropdown-langs-menu-item-hover-bg-color_dark};
  --navbar-dropdown-langs-menu-item-focus-bg-color: #{$navbar-dropdown-langs-menu-item-focus-bg-color_dark};
  --navbar-dropdown-langs-menu-bg-color: #{$navbar-dropdown-langs-menu-bg-color_dark};
  --navbar-theme-mode-bg-color: #{$navbar-theme-mode-bg-color_dark};
  --navbar-theme-mode-label-box-shadow: #{$navbar-theme-mode-label-box-shadow_dark};
  --navbar-theme-mode-label-border: #{$navbar-theme-mode-label-border_dark};
  --navbar-theme-mode-color: #{$navbar-theme-mode-color_dark};
  --navbar-theme-mode-hover-bg-color: #{$navbar-theme-mode-hover-bg-color_dark};
  // hamburger
  --navbar-menu-hamburger-color: #{$navbar-menu-hamburger-color_dark};
  // menu
  --navbar-menu-text-color: #{$navbar-menu-text-color_dark};
  --navbar-menu-text-color-hover: #{$navbar-menu-text-hover-color_dark};
  --navbar-menu-bg-color: #{$navbar-menu-bg-color_dark};
  --navbar-menu-items-hover-bg-color: #{$navbar-menu-items-hover-bg-color_dark};
  /* end header theme */

  /* intro theme */
  --intro-first-name-color: #{$intro-first-name-color_dark};
  --intro-last-name-color: #{$intro-last-name-color_dark};
  --intro-role-color: #{$intro-role-color_dark};
  --intro-role-font-family: #{$intro-role-font-family_dark};
  --intro-based-address-color: #{$intro-based-address-color_dark};
  --intro-based-address-font-family: #{$intro-based-address-font-family_dark};
  --intro-pin-fill-icon-color: #{$intro-pin-fill-icon-color_dark};
  --intro-stack-title-font-family: #{$intro-stack-title-font-family_dark};
  --intro-stack-title-color: #{$intro-stack-title-color_dark};
  --intro-stack-border-bottom-color: #{$intro-stack-border-bottom-color_dark};
  // intro
  --intro-icons-dotnet-color: #{$intro-icons-dotnet-color_dark};
  --intro-icons-csharp-color: #{$intro-icons-csharp-color_dark};
  --intro-icons-go-color: #{$intro-icons-go-color_dark};
  --intro-icons-react-color: #{$intro-icons-react-color_dark};
  --intro-icons-angular-color: #{$intro-icons-angular-color_dark};
  --intro-icons-javascript-color: #{$intro-icons-javascript-color_dark};
  --intro-icons-typescript-color: #{$intro-icons-typescript-color_dark};
  --intro-icons-sass-color: #{$intro-icons-sass-color_dark};
  --intro-icons-css3-color: #{$intro-icons-css3-color_dark};
  /* end intro theme */

  /* experience theme */
  --experience-nav-btn-color: #{$experience-nav-btn-color_dark};
  --experience-nav-btn-font-family: #{$experience-nav-btn-font-family_dark};
  --experience-nav-btn-border-color: #{$experience-nav-btn-border-color_dark};
  --experience-nav-btn-active-border-color: #{$experience-nav-btn-active-border-color_dark};
  --experience-nav-btn-active-color: #{$experience-nav-btn-active-color_dark};
  --experience-nav-btn-hover-color: #{$experience-nav-btn-hover-color_dark};
  --experience-nav-btn-hover-bg-color: #{$experience-nav-btn-hover-bg-color_dark};
  --experience-nav-title-color: #{$experience-nav-title-color_dark};
  --experience-nav-title-font-family: #{$experience-nav-title-font-family_dark};
  --experience-nav-name-color: #{$experience-nav-name-color_dark};
  --experience-nav-name-hover-color: #{$experience-nav-name-hover-color_dark};
  --experience-nav-duration-font-family: #{$experience-nav-duration-font-family_dark};
  --experience-nav-duration-color: #{$experience-nav-duration-color_dark};
  --experience-nav-list-marker-color: #{$experience-nav-list-marker_color_dark};
  /* end experience theme */

  /* projects theme */
  --projects-card-bg-color: #{$projects-card-bg-color_dark};
  --projects-card-box-shadow: #{$projects-card-box-shadow_dark};
  --projects-card-icons-folder-color: #{$projects-card-icons-folder-color_dark};
  --projects-card-icons-github-color: #{$projects-card-icons-github-color_dark};
  --projects-card-icons-link-color: #{$projects-card-icons-link-color_dark};
  --projects-card-icons-hover-color: #{$projects-card-icons-hover-color_dark};
  --projects-card-title-color: #{$projects-card-title-color_dark};
  --projects-card-title-hover-color: #{$projects-card-title-hover-color_dark};
  --projects-card-title-font-family: #{$projects-card-title-font-family_dark};
  /* end projects theme */

  /* about theme */
  --about-me-subtitles-color: #{$about-me-subtitles-color_dark};
  --about-me-subtitles-font-family: #{$about-me-subtitles-font-family_dark};
  /* end about theme */

  /* contact theme */
  --contact-title-color: #{$contact-title-color_dark};
  --contact-title-font-family: #{$contact-title-font-family_dark};
  /* end contact theme */

  /* footer theme */
  --footer-text-link-color: #{$footer-text-link-color_dark};
  --footer-text-link-hover-color: #{$footer-text-link-hover-color_dark};
  --footer-text-link-hover-font-family: #{$footer-text-link-hover-font-family_dark};
  /* end footer theme */

  /* button theme */
  --button-box-shadow: #{$button-box-shadow_dark};
  --button-border-color: #{$button-border-color_dark};
  --button-text-color: #{$button-text-color_dark};
  --button-text-hover-color: #{$button-text-hover-color_dark};
  --button-text-font-family: #{$button-text-font-family_dark};
  --button-bg-color: #{$button-bg-color_dark};
  --button-bg-hover-color: #{$button-bg-hover-color_dark};
  /* end button theme */

  /* scroll bar */
  --scrollbar-face-color: #{$scrollbar-face-color_dark};
  --scrollbar-base-color: #{$scrollbar-base-color_dark};
  --scrollbar-3dlight-color: #{$scrollbar-3dlight-color_dark};
  --scrollbar-highlight-color: #{$scrollbar-highlight-color_dark};
  --scrollbar-track-color: #{$scrollbar-track-color_dark};
  --scrollbar-arrow-color: #{$scrollbar-arrow-color_dark};
  --scrollbar-shadow-color: #{$scrollbar-shadow-color_dark};
  --scrollbar-width: #{$scrollbar-width_dark};
  --scrollbar-height: #{$scrollbar-height_dark};
  --scrollbar-thumb-height: #{$scrollbar-thumb-height_dark};
  --scrollbar-thumb-bg-color: #{$scrollbar-thumb-bg-color_dark};
  --scrollbar-thumb-border-radius: #{$scrollbar-thumb-border-radius_dark};
  /* end scroll bar */

  /* not found theme */
  --not-found-404-color: #{$not-found-404-color_dark};
  --not-found-error-color: #{$not-found-error-color_dark};
  --not-found-title-font-family: #{$not-found-title-font-family_dark};
  /* end not found theme */
}
