@use "functions" as f;

/* background theme */
$bg-color_light: f.light-color(white, darker);
$bg-secondary-color_light: f.light-color(white, base);
/* end background theme */

/* text theme */
$text-font-family_light: "OpenSans-Medium";
$text-color_light: f.light-color(purple, dark);
$text-hover-color_light: f.light-color(red, light);
/* end text theme */

/* section theme */
$section-title-color_light: f.light-color(gray, darkest);
$section-cosmetic-content-title-color_light: f.light-color(blue, light);
/* end section theme */

/* technology stack theme */
$tech-stack-font-family_light: "OpenSans-Bold";
$tech-stack-color_light: f.light-color(gray, base);
/* end technology stack theme */

/* social media theme */
$social-media-color_light: $section-title-color_light;
$social-media-line-color_light: $section-cosmetic-content-title-color_light;
/* end social media theme */

/* header theme */
// background
$navbar-bg-color_light: f.light-color(white, dark);
$navbar-box-shadow_light: 0px 8px 24px -1px f.light-color(gray, light);
// brand
$navbar-brand-font-family_light: "InknutAntiqua-ExtraBold";
$navbar-brand-color_light: f.light-color(gray, darker);
// items
$navbar-items-color_light: $section-title-color_light;
$navbar-items-font-family_light: "Poppins-SemiBold";
$navbar-dropdown-langs-text-color_light: $navbar-brand-color_light;
$navbar-dropdown-langs-text-font-family_light: "Poppins-SemiBold";
$navbar-dropdown-langs-toggle-color_light: $navbar-items-color_light;
$navbar-dropdown-langs-menu-box-shadow_light: 0px 0px 6px 2px
  f.light-color(gray, dark);
$navbar-dropdown-langs-menu-item-hover-bg-color_light: f.light-color(
  yellow,
  light
);
$navbar-dropdown-langs-menu-item-focus-bg-color_light: $navbar-dropdown-langs-menu-item-hover-bg-color_light;
$navbar-dropdown-langs-menu-bg-color_light: $bg-secondary-color_light;
$navbar-theme-mode-bg-color_light: f.light-color(yellow, dark);
$navbar-theme-mode-label-box-shadow_light: 0px 0px 55px 14px
  $navbar-theme-mode-bg-color_light;
$navbar-theme-mode-label-border_light: 2px solid
  $navbar-theme-mode-bg-color_light;
$navbar-theme-mode-color_light: f.light-color(yellow, darker);
$navbar-theme-mode-hover-bg-color_light: $bg-color_light;
// hamburger
$navbar-menu-hamburger-color_light: $navbar-brand-color_light;
// menu
$navbar-menu-text-color_light: $text-color_light;
$navbar-menu-text-color_hover_light: $text-hover-color_light;
$navbar-menu-bg-color_light: $bg-secondary-color_light;
$navbar-menu-items-hover-bg-color_light: $navbar-dropdown-langs-menu-item-hover-bg-color_light;
/* end header theme */

/* intro theme */
// content
$intro-first-name-color_light: $navbar-brand-color_light;
$intro-last-name-color_light: $text-hover-color_light;
$intro-role-color_light: $navbar-items-color_light;
$intro-role-font-family_light: "Poppins-Regular";
$intro-based-address-color_light: $navbar-items-color_light;
$intro-based-address-font-family_light: "Poppins-Regular";
$intro-pin-fill-icon-color_light: f.light-color(red, base);
$intro-stack-title-font-family_light: "Poppins-Regular";
$intro-stack-title-color_light: $navbar-items-color_light;
$intro-stack-border-bottom-color_light: $section-cosmetic-content-title-color_light;
// icons
$intro-icons-dotnet-color_light: $section-title-color_light;
$intro-icons-csharp-color_light: f.light-color(purple, darker);
$intro-icons-go-color_light: f.light-color(blue, lighter);
$intro-icons-react-color_light: f.light-color(blue, lightest);
$intro-icons-angular-color_light: f.light-color(red, dark);
$intro-icons-javascript-color_light: f.light-color(yellow, base);
$intro-icons-typescript-color_light: f.light-color(blue, base);
$intro-icons-sass-color_light: f.light-color(purple, base);
$intro-icons-css3-color_light: f.light-color(blue, dark);
/* end intro theme */

/* experience theme */
$experience-nav-btn-color_light: $navbar-items-color_light;
$experience-nav-btn-font-family_light: "OpenSans-SemiBold";
$experience-nav-btn-border-color_light: $text-color_light;
$experience-nav-btn-active-border-color_light: $text-hover-color_light;
$experience-nav-btn-active-color_light: $text-hover-color_light;
$experience-nav-btn-hover-color_light: $text-hover-color_light;
$experience-nav-btn-hover-bg-color_light: $navbar-menu-items-hover-bg-color_light;
$experience-nav-title-color_light: $navbar-items-color_light;
$experience-nav-title-font-family_light: "OpenSans-SemiBold";
$experience-nav-name-color_light: $text-hover-color_light;
$experience-nav-name-hover-color_light: $text-hover-color_light;
$experience-nav-duration-font-family_light: "OpenSans-Bold";
$experience-nav-duration-color_light: $section-cosmetic-content-title-color_light;
$experience-nav-list-marker-color_light: $section-cosmetic-content-title-color_light;
/* end experience theme */

/* projects theme */
$projects-card-bg-color_light: f.light-color(white, darkest);
$projects-card-box-shadow_light: 0px 0px 10px 2px $text-hover-color_light;
$projects-card-icons-folder-color_light: $section-cosmetic-content-title-color_light;
$projects-card-icons-github-color_light: $section-title-color_light;
$projects-card-icons-link-color_light: $section-title-color_light;
$projects-card-icons-hover-color_light: $text-hover-color_light;
$projects-card-title-color_light: $section-title-color_light;
$projects-card-title-hover-color_light: $text-hover-color_light;
$projects-card-title-font-family_light: "OpenSans-SemiBold";
/* end projects theme */

/* about theme */
$about-me-subtitles-color_light: $section-title-color_light;
$about-me-subtitles-font-family_light: "OpenSans-Bold";
/* end about theme */

/* contact theme */
$contact-title-color_light: $section-title-color_light;
$contact-title-font-family_light: "OpenSans-Medium";
$contact-email-box-shadow_light: 0px 0px 10px 2px $section-title-color_light;
$contact-email-border-color_light: $section-title-color_light;
$contact-email-text-color_light: $bg-secondary-color_light;
$contact-email-text-hover-color_light: $section-title-color_light;
$contact-email-text-font-family_light: "OpenSans-SemiBold";
$contact-email-bg-color_light: $section-cosmetic-content-title-color_light;
$contact-email-bg-hover-color_light: transparent;
/* end contact theme */

/* footer theme */
$footer-text-color_light: $text-color_light;
$footer-text-hover-color_light: $text-hover-color_light;
/* end footer theme */

/* scroll bar */
$scrollbar-face-color_light: $section-cosmetic-content-title-color_light;
$scrollbar-base-color_light: $section-cosmetic-content-title-color_light;
$scrollbar-3dlight-color_light: $section-cosmetic-content-title-color_light;
$scrollbar-highlight-color_light: $section-cosmetic-content-title-color_light;
$scrollbar-track-color_light: $projects-card-bg-color_light;
$scrollbar-arrow-color_light: $projects-card-bg-color_light;
$scrollbar-shadow-color_light: $section-cosmetic-content-title-color_light;
$scrollbar-width_light: 8px;
$scrollbar-height_light: 3px;
$scrollbar-thumb-height_light: 50px;
$scrollbar-thumb-bg-color_light: $section-cosmetic-content-title-color_light;
$scrollbar-thumb-border-radius_light: 3px;
/* end scroll bar */

// mixin that enables css variables in light mode
@mixin light-mode() {
  /* background theme */
  background-color: #{$bg-color_light};
  --bg-secondary-color: #{$bg-secondary-color_light};
  /* end background theme */

  color: #{$text-color_light};

  /* text theme */
  --text-font-family: #{$text-font_family_light};
  --text-color: #{$text-color_light};
  --text-hover-color: #{$text-hover-color_light};
  /* end text theme */

  /* section theme */
  --section-title-color: #{$section-title-color_light};
  --section-cosmetic-content-title-color: #{$section-cosmetic-content-title-color_light};
  /* end section theme */

  /* technology stack theme */
  --tech-stack-font-family: #{$tech-stack-font-family_light};
  --tech-stack-color: #{$tech-stack-color_light};
  /* end technology stack theme */

  /* social media theme */
  --social-media-color: #{$social-media-color_light};
  --social-media-line-color: #{$social-media-line-color_light};
  /* end social media theme */

  /* header theme */
  // background
  --navbar-bg-color: #{$navbar-bg-color_light};
  --navbar-box-shadow: #{$navbar-box-shadow_light};
  // brand
  --navbar-brand-font-family: #{$navbar-brand-font-family_light};
  --navbar-brand-color: #{$navbar-brand-color_light};
  // items
  --navbar-items-color: #{$navbar-items-color_light};
  --navbar-items-font-family: #{$navbar-items-font-family_light};
  --navbar-dropdown-langs-text-color: #{$navbar-dropdown-langs-text-color_light};
  --navbar-dropdown-langs-text-font-family: #{$navbar-dropdown-langs-text-font-family_light};
  --navbar-dropdown-langs-toggle-color: #{$navbar-dropdown-langs-toggle-color_light};
  --navbar-dropdown-langs-menu-box-shadow: #{$navbar-dropdown-langs-menu-box-shadow_light};
  --navbar-dropdown-langs-menu-item-hover-bg-color: #{$navbar-dropdown-langs-menu-item-hover-bg-color_light};
  --navbar-dropdown-langs-menu-item-focus-bg-color: #{$navbar-dropdown-langs-menu-item-focus-bg-color_light};
  --navbar-dropdown-langs-menu-bg-color: #{$navbar-dropdown-langs-menu-bg-color_light};
  --navbar-theme-mode-bg-color: #{$navbar-theme-mode-bg-color_light};
  --navbar-theme-mode-label-box-shadow: #{$navbar-theme-mode-label-box-shadow_light};
  --navbar-theme-mode-label-border: #{$navbar-theme-mode-label-border_light};
  --navbar-theme-mode-color: #{$navbar-theme-mode-color_light};
  --navbar-theme-mode-hover-bg-color: #{$navbar-theme-mode-hover-bg-color_light};
  // hamburger
  --navbar-menu-hamburger-color: #{$navbar-menu-hamburger-color_light};
  // menu
  --navbar-menu-text-color: #{$navbar-menu-text-color_light};
  --navbar-menu-text-color-hover: #{$navbar-menu-text-color_hover_light};
  --navbar-menu-bg-color: #{$navbar-menu-bg-color_light};
  --navbar-menu-items-hover-bg-color: #{$navbar-menu-items-hover-bg-color_light};
  /* end header theme */

  /* intro theme */
  --intro-first-name-color: #{$intro-first-name-color_light};
  --intro-last-name-color: #{$intro-last-name-color_light};
  --intro-role-color: #{$intro-role-color_light};
  --intro-role-font-family: #{$intro-role-font-family_light};
  --intro-based-address-color: #{$intro-based-address-color_light};
  --intro-based-address-font-family: #{$intro-based-address-font-family_light};
  --intro-pin-fill-icon-color: #{$intro-pin-fill-icon-color_light};
  --intro-stack-title-font-family: #{$intro-stack-title-font-family_light};
  --intro-stack-title-color: #{$intro-stack-title-color_light};
  --intro-stack-border-bottom-color: #{$intro-stack-border-bottom-color_light};
  // icons
  --intro-icons-dotnet-color: #{$intro-icons-dotnet-color_light};
  --intro-icons-csharp-color: #{$intro-icons-csharp-color_light};
  --intro-icons-go-color: #{$intro-icons-go-color_light};
  --intro-icons-react-color: #{$intro-icons-react-color_light};
  --intro-icons-angular-color: #{$intro-icons-angular-color_light};
  --intro-icons-javascript-color: #{$intro-icons-javascript-color_light};
  --intro-icons-typescript-color: #{$intro-icons-typescript-color_light};
  --intro-icons-sass-color: #{$intro-icons-sass-color_light};
  --intro-icons-css3-color: #{$intro-icons-css3-color_light};
  /* end intro theme */

  /* experience theme */
  --experience-nav-btn-color: #{$experience-nav-btn-color_light};
  --experience-nav-btn-font-family: #{$experience-nav-btn-font-family_light};
  --experience-nav-btn-border-color: #{$experience-nav-btn-border-color_light};
  --experience-nav-btn-active-border-color: #{$experience-nav-btn-active-border-color_light};
  --experience-nav-btn-active-color: #{$experience-nav-btn-active-color_light};
  --experience-nav-btn-hover-color: #{$experience-nav-btn-hover-color_light};
  --experience-nav-btn-hover-bg-color: #{$experience-nav-btn-hover-bg-color_light};
  --experience-nav-title-color: #{$experience-nav-title-color_light};
  --experience-nav-title-font-family: #{$experience-nav-title-font-family_light};
  --experience-nav-name-color: #{$experience-nav-name-color_light};
  --experience-nav-name-hover-color: #{$experience-nav-name-hover-color_light};
  --experience-nav-duration-font-family: #{$experience-nav-duration-font-family_light};
  --experience-nav-duration-color: #{$experience-nav-duration-color_light};
  --experience-nav-list-marker-color: #{$experience-nav-list-marker-color_light};
  /* end experience theme */

  /* projects theme */
  --projects-card-bg-color: #{$projects-card-bg-color_light};
  --projects-card-box-shadow: #{$projects-card-box-shadow_light};
  --projects-card-icons-folder-color: #{$projects-card-icons-folder-color_light};
  --projects-card-icons-github-color: #{$projects-card-icons-github-color_light};
  --projects-card-icons-link-color: #{$projects-card-icons-link-color_light};
  --projects-card-icons-hover-color: #{$projects-card-icons-hover-color_light};
  --projects-card-title-color: #{$projects-card-title-color_light};
  --projects-card-title-hover-color: #{$projects-card-title-hover-color_light};
  --projects-card-title-font-family: #{$projects-card-title-font-family_light};
  /* end projects theme */

  /* about theme */
  --about-me-subtitles-color: #{$about-me-subtitles-color_light};
  --about-me-subtitles-font-family: #{$about-me-subtitles-font-family_light};
  /* end about theme */

  /* contact theme */
  --contact-title-color: #{$contact-title-color_light};
  --contact-title-font-family: #{$contact-title-font-family_light};
  --contact-email-box-shadow: #{$contact-email-box-shadow_light};
  --contact-email-border-color: #{$contact-email-border-color_light};
  --contact-email-text-color: #{$contact-email-text-color_light};
  --contact-email-text-hover-color: #{$contact-email-text-hover-color_light};
  --contact-email-text-font-family: #{$contact-email-text-font-family_light};
  --contact-email-bg-color: #{$contact-email-bg-color_light};
  --contact-email-bg-hover-color: #{$contact-email-bg-hover-color_light};
  /* end contact theme */

  /* footer theme */
  --footer-text-color: #{$footer-text-color_light};
  --footer-text-hover-color: #{$text-hover-color_light};
  /* end footer theme */

  /* scroll bar */
  --scrollbar-face-color: #{$scrollbar-face-color_light};
  --scrollbar-base-color: #{$scrollbar-base-color_light};
  --scrollbar-3dlight-color: #{$scrollbar-3dlight-color_light};
  --scrollbar-highlight-color: #{$scrollbar-highlight-color_light};
  --scrollbar-track-color: #{$scrollbar-track-color_light};
  --scrollbar-arrow-color: #{$scrollbar-arrow-color_light};
  --scrollbar-shadow-color: #{$scrollbar-shadow-color_light};
  --scrollbar-width: #{$scrollbar-width_light};
  --scrollbar-height: #{$scrollbar-height_light};
  --scrollbar-thumb-height: #{$scrollbar-thumb-height_light};
  --scrollbar-thumb-bg-color: #{$scrollbar-thumb-bg-color_light};
  --scrollbar-thumb-border-radius: #{$scrollbar-thumb-border-radius_light};
  /* end scroll bar */
}
