<div class="nav-menu" [ngClass]="hamburgerToggle ? 'is-active' : ''">
  <div class="nav-menu-content">
    <div class="container">
      <div class="row">
        <div class="col-10">
          <a href="#">Home</a>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-10">
          <a href="#">Projects</a>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-10">
          <a href="#">About</a>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-10">
          <a href="#">Certificates</a>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-10">
          <a href="#">Contact</a>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="nav-menu-content">
    <a href="#">Home</a>
    <a href="#">Projects</a>
    <a href="#">About</a>
    <a href="#">Certificates</a>
    <a href="#">Contact</a>
  </div> -->
</div>