@use "abstracts" as a;

/**
* Helper class to create full-screen Menu overlay when hamburger is clicked.
*/
.nav-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: var(--navbar-menu-bg-color);
  overflow-x: hidden;
  transition: 0.5s;
  display: block;

  &.is-active {
    width: 100%;
  }

  @include a.respond-to("small-medium") {
    display: none;
  }

  /**
  * Helper class to position the content around the container menu.
  */
  &-content {
    position: relative;
    left: 0;
    top: 25%;

    a {
      color: var(--navbar-menu-text-color);
      font-family: var(--navbar-items-font-family);
      display: block;
      text-decoration: none;
      text-align: center;
      font-size: clamp(2rem, 5vw, 9rem);
      transition: 0.3s;
    }

    /**
     * Helper class to create an inner box-shadow using inset property
     * 1. Add box-shadow with inset property and set pixels units in different breakpoints
     * 1. Add transition for both color and box-shadow properties
    */
    .nav-menu-link {
      box-shadow: inset 0 0 0 0 var(--navbar-menu-items-hover-bg-color);
      transition: color 0.3s ease-in-out, box-shadow 0.4s ease-in-out;

      &:hover {
        color: var(--navbar-menu-text-color-hover);
        box-shadow: inset 300px 0 0 0 var(--navbar-menu-items-hover-bg-color);

        @include a.respond-to("extra-small") {
          box-shadow: inset 400px 0 0 0 var(--navbar-menu-items-hover-bg-color);
        }

        @include a.respond-to("2-small") {
          box-shadow: inset 500px 0 0 0 var(--navbar-menu-items-hover-bg-color);
        }

        @include a.respond-to("2-small-medium") {
          box-shadow: inset 600px 0 0 0 var(--navbar-menu-items-hover-bg-color);
        }
      }
    }

    .dropdown-mobile-items {
      @include a.respond-to("extra-small") {
        display: none !important;
      }
    }
  }
}
