@use "abstracts" as a;

/**
* Helper class to create full-screen Menu overlay when hamburger is clicked.
*/
.nav-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: var(--nav-menu-bg-color);
  overflow-x: hidden;
  transition: 0.5s;
  display: block;

  /**
  * Helper class to position the content around the container menu.
  */
  &-content {
    position: relative;
    top: 30%;
    left: 0;
  }

  & .row {
    @include a.justify-content-center();

    @include a.respond-to("small") {
      justify-content: start;
    }
  }

  & a {
    font-family: "Poppins-Regular";
    display: block;
    color: var(--nav-menu-color);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: clamp(1.5rem, 4.5vw, 9rem);
    transition: 0.3s;
  }

  &.is-active {
    width: 100%;
  }

  @include a.respond-to("extra-small") {
    & .dropdown-mobile-items {
      display: none;
    }
  }

  /**
  * Helper class to create a linear gradient as background and animate the background position
  * in order to have a background color transition from left to right.
  * 1. Background-size set as 300% to avoid color bugs in some breakpoints
  */
  &-link {
    background: linear-gradient(
        to left,
        transparent 50%,
        var(--nav-menu-hover-color) 50%
      )
      right;
    background-size: 300%;
    transition: 0.8s ease-out;

    &:hover {
      background-position: left;
    }
  }

  @include a.respond-to("small-medium") {
    display: none;
  }
}
