<div class="nav-menu" [ngClass]="hamburgerToggle ? 'is-active' : ''">
  <div class="nav-menu-content">
    <div class="container">
      <div class="row mt-2" *ngFor="let c of content">
        <div class="col-10 p-0 m-0 nav-menu-link">
          <a class="ps-3 pe-3 pt-1 pb-1" href="#">{{c}}</a>
        </div>
      </div>
      <div class="row mt-2 dropdown-mobile-items">
        <div class="col-10 text-center">
          <app-dropdown-flags></app-dropdown-flags>
        </div>
        <div class="col-10 d-flex justify-content-center">
          <day-night-mode-toggle></day-night-mode-toggle>
        </div>
      </div>
    </div>
  </div>
</div>