<header>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <!-- <span class="navbar-brand mb-0 h1">Navbar</span> -->
            <svg-icon key='logo' fontSize="100px"></svg-icon>
            <button class="hamburger hamburger--arrowturn" type="button" appHamburgerToggle>
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </nav>
</header>