<div class="container contact">
    <div class="row">
        <div class="col-12">
            <div>
                <h3 class="text-center">Hit me up!</h3>
            </div>
        </div>
        <div class="col-12 mt-4 text-center">
            Lorem ipsum dolor sit am asdcasfas maSKDMAKDFMAK
        </div>
        <div class="col-12 mt-5 text-center">
            <button type="button" class="btn btn-outline-primary btn-lg">
                <a href="mailto:{{email}}">
                    Say Hello
                </a>
            </button>
        </div>
    </div>
</div>