@use "abstracts" as a;

.contact {
  h3 {
    color: var(--contact-title-color);
    font-family: var(--contact-title-font-family);
    font-size: 2.5rem;
  }

  p {
    font-size: a.$font-size-regular-text;
  }
}
