<div class="container contact">
    <div class="row">
        <div class="col-12">
            <div>
                <h3 class="text-center">
                    <span>Get In Touch. Hit me up!</span>
                    <span class="ms-2 contact-arrow-down-circle lh-base">
                        <ng-icon name="bootstrapArrowDownCircle"></ng-icon>
                    </span>
                </h3>
            </div>
        </div>
        <div class="col-12 mt-4 text-center">
            Lorem ipsum dolor sit am asdcasfas maSKDMAKDFMAK
        </div>
        <div class="col-12 mt-5 text-center">
            <button type="button" class="btn btn-outline-primary btn-lg">Say Hello</button>
        </div>
    </div>
</div>