@use "abstracts" as a;

a {
  display: inline-block;
  width: auto;
  color: var(--footer-text-color);
  @include a.transition-ease-in-out();

  &:hover,
  &:focus {
    color: var(--footer-text-hover-color);
  }
}
