<app-social-media-footer></app-social-media-footer>
<div class="text-center mt-4">
    <p class="pt-0 pb-0">
        <a href="{{portfolioWebsite}}" target="_blank">
            {{'FOOTER.DISCLAIMER' | translate}}
        </a>
    </p>
    <p class="pt-0 pb-0">
        {{'FOOTER.WORK_TITLE' | translate}} © 2024 {{'FOOTER.BY' |
        translate}}
        <a href="{{linkedin}}" target="_blank">{{fullName}}</a> {{'FOOTER.LICENSED' | translate}} <a
            href="{{creativeCommonsLicenseUrl}}" target="_blank">{{creativeCommonsLicense}}</a>
    </p>
</div>