<div appAnimateFromToAnimation [fromY]="100" [toOpacity]="1" [hasScrollTrigger]="true" [stStart]="'top center'"
    class="experiences-nav d-flex">
    <div ngbNav #nav="ngbNav" class="nav-pills" orientation="vertical">
        <ng-container *ngFor="let experience of experiences" ngbNavItem={{experience.navItem}}>
            <button ngbNavLink>{{experience.name | translate}}</button>
            <ng-template ngbNavContent>
                <div class="content">
                    <h4 class="experience-title">{{experience.role | translate}}
                        <span class="experience-name">
                            &#64;
                            <a class="experience-name-underline" href="{{experience.website | translate}}"
                                target="_blank">
                                {{experience.name | translate}}
                            </a>
                        </span>
                    </h4>
                    <p class="experience-duration">{{experience.duration | translate}}</p>
                    <ul class="experience-activities">
                        <ng-container *ngFor="let activity of experience.activities">
                            <li>
                                {{activity | translate}}
                            </li>
                        </ng-container>
                    </ul>
                    <div class="container">
                        <div class="row">
                            <div class="col-auto experience-stack" *ngFor="let tech of experience.stack">
                                <p>{{tech}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ng-container>
    </div>
    <div [ngbNavOutlet]="nav" class="ms-4"></div>
</div>