<div class="experiences-nav d-flex">
    <div ngbNav #nav="ngbNav" class="nav-pills" orientation="vertical">
        <ng-container *ngFor="let experience of experiences" ngbNavItem={{experience.name}}>
            <button ngbNavLink>{{experience.name}}</button>
            <ng-template ngbNavContent>
                <div class="content">
                    <h4 class="experience-title">{{experience.role}}
                        <a href="{{experience.website}}" target="_blank">
                            <span class="experience-name">&#64; {{experience.name}}</span>
                        </a>
                    </h4>
                    <p class="experience-duration">{{experience.duration}}</p>
                    <ul class="experience-activities">
                        <ng-container *ngFor="let activity of experience.activities">
                            <li>
                                {{activity}}
                            </li>
                        </ng-container>
                    </ul>
                    <div class="container">
                        <div class="row">
                            <div class="col-auto experience-stack" *ngFor="let tech of experience.stack">
                                <p>{{tech}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ng-container>
    </div>
    <div [ngbNavOutlet]="nav" class="ms-4"></div>
</div>