@use "abstracts" as a;
@use "variables" as v;

/**
 * Helper class to adjust the directions of the Nav, sizes and some colors on hover
 */
.experiences-nav {
  flex-direction: column;
  @include a.adjust-grid-container();

  & .nav-pills {
    flex-direction: row !important;
    justify-content: center;
  }

  @include a.respond-to("small") {
    flex-direction: row;

    & .nav-pills {
      justify-content: start;
      flex-direction: column !important;
    }
  }

  /**
  * Add borders bottom/left to the buttons in left side of the main content
  */
  button {
    color: var(--experience-nav-btn-color);
    border-radius: 0%;
    border-bottom: 1px solid var(--experience-nav-btn-border-color);
    font-family: var(--experience-nav-btn-font-family);

    @include a.respond-to("small") {
      border-bottom: none;
      border-left: 1px solid var(--experience-nav-btn-border-color);
    }

    &.active {
      background-color: transparent;
      color: var(--experience-nav-btn-active-color);
      border-bottom-color: var(--experience-nav-btn-active-border-color);

      @include a.respond-to("small") {
        border-bottom-color: transparent;
        border-left-color: var(--experience-nav-btn-active-border-color);
      }
    }

    &:hover {
      background-color: var(--experience-nav-btn-hover-bg-color);
      color: var(--experience-nav-btn-hover-color);
      outline: 0;
      @include a.transition-ease-in-out(0.5s);
    }
  }

  /**
  * Set a max-width to the content to shrink it a bit more
  */
  .content {
    width: 100%;
    max-width: 650px;
    margin-top: 1.5rem;

    @include a.respond-to("small") {
      margin-top: auto;
    }

    .experience-title {
      color: var(--experience-nav-title-color);
      font-family: var(--experience-nav-title-font-family);
      font-size: 1.4rem;
    }

    .experience-name {
      color: var(--experience-nav-name-color);

      &-underline {
        display: inline-block;
        position: relative;
      }

      &-underline::after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: var(--experience-nav-name-hover-color);
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }

      &:hover .experience-name-underline::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }

    .experience-duration {
      font-size: v.$font-size-regular-text;
      font-family: var(--experience-nav-duration-font-family);
      color: var(--experience-nav-duration-color);
    }

    .experience-activities {
      font-size: v.$font-size-regular-text;

      li::marker {
        color: var(--experience-nav-list-marker-color);
      }
    }

    .experience-stack {
      @include a.style-tech-stack();
    }
  }
}
