@use "abstracts" as a;
@use "variables" as v;

/**
 * Helper class to adjust the directions of the Nav, sizes and some colors on hover
 */
.experiences-nav {
  flex-direction: column;
  @include a.adjust-container();

  & .nav-pills {
    flex-direction: row !important;
    justify-content: center;
  }

  @include a.respond-to("small") {
    flex-direction: row;

    & .nav-pills {
      justify-content: start;
      flex-direction: column !important;
    }
  }

  button {
    color: var(--text-color);
    border-radius: 0%;
    border-bottom: 1px solid #112240;
    font-family: "Open-Sans-Medium";

    @include a.respond-to("small") {
      border-bottom: none;
      border-left: 1px solid #112240;
    }

    &.active {
      background-color: transparent;
      color: #64ffda;
      border-bottom-color: #64ffda;

      @include a.respond-to("small") {
        border-bottom-color: transparent;
        border-left-color: #64ffda;
      }
    }

    &:hover {
      background-color: #112240;
      color: #64ffda;
      outline: 0px;
      @include a.transition-ease-in-out(0.5s);
    }
  }

  .content {
    width: 100%;
    max-width: 600px;
    margin-top: 1.5rem;

    @include a.respond-to("small") {
      margin-top: auto;
    }

    .experience-title {
      font-family: "Open-Sans-Medium";
      font-size: 1.4rem;
    }

    .experience-name {
      color: #64ffda;
      position: relative;

      @include a.transition-ease-in-out();

      &:hover {
        color: #368572;
      }
    }

    .experience-duration {
      font-size: v.$font-size-regular-text;
      font-family: "Open-Sans-Medium";
      color: rgb(168, 178, 209);
    }

    .experience-activities {
      font-size: v.$font-size-regular-text;

      li::marker {
        color: #64ffda;
      }
    }

    .experience-stack {
      @include a.style-tech-stack();
    }
  }
}
