@charset 'utf-8';

/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@use "./assets/scss/index" as i;

/* Importing Bootstrap SCSS file. */
@use "bootstrap/scss/bootstrap";

/* Importing flag-icon CSS file */
@use "flag-icon-css/sass/flag-icons.scss";

/* Importing Hamburgers SCSS file */
$hamburger-hover-opacity: 1;
@import "hamburgers/_sass/hamburgers/hamburgers.scss";

body.dark {
  @include i.dark-mode();
}

body.light {
  @include i.light-mode();
}

body {
  margin: 0px 20px 40px 20px;

  a {
    color: var(--text-color);
    text-decoration: none;
  }

  &.dark,
  &.light {
    transition: all 0.5s;
  }
}
