<div appAnimateFromToAnimation [fromY]="100" [toOpacity]="1" [hasScrollTrigger]="true" [stStart]="'top bottom'"
    class="container projects">
    <div class="row gx-4 gy-4 justify-content-center">
        <ng-container *ngFor="let project of projects">
            <div class="col-12 col-sm-6 col-lg-4">
                <a *ngIf="project.site; else projectGithub" href="{{project.site}}" class="project-link">
                    <ng-container [ngTemplateOutlet]="projectCard"
                        [ngTemplateOutletContext]="{project:project}"></ng-container>
                </a>
                <ng-template #projectGithub>
                    <ng-container *ngIf="project.github; else projectNoLink">
                        <a href="{{project.github}}" class="project-link">
                            <ng-container [ngTemplateOutlet]="projectCard"
                                [ngTemplateOutletContext]="{project:project}"></ng-container>
                        </a>
                    </ng-container>
                </ng-template>
                <ng-template #projectNoLink>
                    <ng-container [ngTemplateOutlet]="projectCard"
                        [ngTemplateOutletContext]="{project:project}"></ng-container>
                </ng-template>
            </div>
        </ng-container>
    </div>
</div>

<!-- Project Card -->
<ng-template #projectCard let-project="project">
    <div class="d-flex flex-column w-100 h-100 pt-4 pb-3 ps-4 pe-4 project">
        <div class="d-flex align-items-center justify-content-between mb-4 project-top">
            <div class="project-folder">
                <ng-icon name="bootstrapFolder2Open"></ng-icon>
            </div>
            <div class="project-links">
                <a *ngIf="project.github" [class.me-2]="project.site" class="project-github" href="{{project.github}}"
                    target="_blank">
                    <ng-icon name="bootstrapGithub"></ng-icon>
                </a>
                <a *ngIf="project.site" class="project-link" href="{{project.site}}" target="_blank">
                    <ng-icon name="bootstrapLink45deg"></ng-icon>
                </a>
            </div>
        </div>
        <h4 class="mb-2 project-title">{{project.name | translate}}</h4>
        <p class="project-description" [innerHTML]="project.description | translate"></p>
        <div class="row project-footer mt-auto">
            <div class="col-auto pe-0" *ngFor="let tech of project.stack">
                <p>{{tech}}</p>
            </div>
        </div>
    </div>
</ng-template>
<!-- end Project Card -->