@use "abstracts" as a;

/**
 * Helper class to create a card for each Project content and style the content within
 */
.projects {
  @include a.adjust-grid-container();

  .project-link {
    @include a.transition-ease-in-out();

    &:hover .project-title {
      color: var(--projects-card-title-hover-color);
    }
  }

  .project {
    background-color: var(--projects-card-bg-color);
    box-shadow: var(--projects-card-box-shadow);
    border-radius: 15px;

    @include a.transition-ease-in-out();

    &:hover {
      @include a.transform-translateY();
    }

    &-top {
      .project-folder ng-icon {
        color: var(--projects-card-icons-folder-color);
        font-size: 1.2rem;
      }

      .project-links {
        ng-icon {
          transition: transform 0.3s linear;
          font-size: 0.8rem;
        }

        a:hover ng-icon,
        a:hover ng-icon:focus,
        a:hover ng-icon:active {
          transform: scale(1.3);
          color: var(--projects-card-icons-hover-color);
        }

        .project-github {
          color: var(--projects-card-icons-github-color);
        }

        .project-link {
          color: var(--projects-card-icons-link-color);
        }
      }
    }

    &-title {
      color: var(--projects-card-title-color);
      font-family: var(--projects-card-title-font-family);
      font-size: a.$font-size-subtitle;

      @include a.transition-ease-in-out();
    }

    &-description {
      font-size: a.$font-size-regular-text;
    }

    &-footer {
      @include a.style-tech-stack();
    }
  }
}
