@use "abstracts" as a;

/**
 * Helper class to set Projects section with image and description
 * 1. Set image overlay to have icons on image hover
 * 2. Display overlay only from small screens
 * 3. Add a transition transforming the scale to icons
 */
.projects {
  @include a.respond-to("small") {
    .image-mobile {
      display: none;
    }
  }

  @include a.respond-to("small-medium") {
    .content-spacer {
      height: 8rem;
    }
    .content-text div {
      text-align: end;
    }
  }

  a {
    color: inherit;

    &:hover {
      text-decoration: none;
    }

    ng-icon {
      transition: all 0.3s linear;
    }

    &:hover ng-icon,
    &:hover ng-icon:focus,
    &:hover ng-icon:active {
      transform: scale(1.3);
      color: var(--hamburger-hover-color);
    }
  }

  .image-wrapper {
    display: none;
    position: relative;

    &:hover .overlay {
      transform: scale(1);
    }

    @include a.respond-to("small") {
      display: block;
    }

    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      inset: 0;
      transform: scale(0);
      transition: all 0.5s ease-in-out;
      background: var(--overlay-image-color);

      &-content {
        text-align: center;
      }
    }
  }

  .content-spacer {
    height: 4rem;

    &:last-child {
      display: none;
    }
  }
}
