@use "abstracts" as a;

$sun-color: #666;
$moon-color: hsl(207, 75%, 5%);

/**
 * Helper class to set a container to wrap the toggle and add animations
 * 1. Set container wrap with position relative
 */
label {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    position: absolute;
    opacity: 0;

    &:checked ~ .toggle {
      background: #f8f8f8;
    }

    &:checked ~ .sun {
      transform: scale(1) rotate(360deg);
      transition-delay: 0.8s;
    }

    &:checked ~ .moon {
      transform: rotate(360deg) scale(0);
      transition-delay: 0s;
    }
  }

  .sun {
    position: absolute;
    color: $sun-color;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
    transform: scale(0);
    transition: 1s ease;
  }

  .moon {
    color: $moon-color;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
    transition: 1s ease;
  }

  .toggle {
    position: absolute;
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    background: #464646;
    border-radius: 50%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
      rgba(17, 17, 26, 0.05) 0px 8px 32px;
    z-index: -1;
    transition: 1s;
  }
}
