@use "abstracts" as a;

/**
 * Helper class to set a container to wrap the toggle and add animations
 * 1. Set container wrap with position relative
 * 2. Scale to 0 and a full rotate on both icons so the icon can disappear while
 * it is rotating at the same time
 */
label {
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
  align-items: center;
  border: var(--navbar-theme-mode-label-border);
  box-shadow: var(--navbar-theme-mode-label-box-shadow);

  @include a.transition-ease-in-out();

  &:hover {
    background-color: var(--navbar-theme-mode-hover-bg-color);
  }

  input {
    cursor: pointer;
    position: absolute;
    opacity: 0;

    &:checked ~ .sun {
      transform: scale(1) rotate(360deg);
      transition: transform 1s ease;
    }

    &:checked ~ .moon {
      transform: scale(0) rotate(360deg);
      transition-delay: 0s;
    }
  }

  .sun {
    position: absolute;
    color: var(--navbar-theme-mode-color);
    transform: scale(0);
    transition: transform 1s ease;
  }

  .moon {
    color: var(--navbar-theme-mode-color);
    transition: transform 1s ease;
  }

  .toggle {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--navbar-theme-mode-bg-color);
    border-radius: 50%;
    z-index: -1;
    transition: 1s;
  }
}
